[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TOC"]
	path = TOC
	url = https://github.com/amsantac/toc
[submodule "diffeR"]
	path = diffeR
	url = https://github.com/amsantac/differ
[submodule "geospt"]
	path = geospt
	url = https://github.com/amsantac/geospt
